.title-container {
    position: relative;
    top: 36vh;
    text-align: center;
    color: #EEEEEE;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 6em;
}

.sub-title {
    position: relative;
    top: 38vh;
    text-align: center;
    color: #EEEEEE;
    letter-spacing: 4px;
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

img {
  width:100vw;
}

.carousel {

  width:100vw;
  height:100vh;
   overflow:hidden;
  position:absolute;
  z-index: -2;
}

.nav {
   display:block;
   position:absolute;
   top: 35vh;
   padding: 5vw;
   cursor: pointer;
   
}

#rightNav,
#leftNav {
   color: rgba(255,255,255,.75);
   font-size: 56px;
   z-index: 99;
}

#rightNav {
   right:0;
}

#leftNav {
   left:0;
}

.slide-holder {
  width:300%;
  background-color: blue;
  margin-left:0%;
  transition: margin-left 1s;
}

.slide {
  width:33.33%;
  height:auto;
  float:left;
}
