body {
    background-color: #111111;
}

.title-container {
    position: relative;
   top: 34vh;
    text-align: center;
    color: #EEEEEE;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 8vw;
}

.sub-title{
   position: relative;
   top: 36vh;
    text-align: center;
    color: #EEEEEE;
    letter-spacing: 4px;
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
}

.overlay{
   position: absolute;
   background-color: rgba(0,0,0,0.5);
   width: 100vw;
   height: 100vh;
}

.big-container {
    position: relative;
    z-index: -1;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
}

.slides {
    position: absolute;
    top: 0;
    width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slides.fadeImage {
    opacity: 1;
}

.buttons-container {
    position: absolute;
    margin: 12px auto;
    width: 100vw;
    top: 90vh;
    color: #EEEEEE;
    text-align: center;
    font-size: 28px;
}

.left-arrow,.right-arrow,.dot-button {
    cursor: pointer;
}

.dot-button {
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    color: #EEEEEE;
    transition: background-color .3s, color .15s, opacity 0.3s;
}

.dot-button:hover {
    background-color: #EEEEEE;
}

.dot-filled {
    background-color: #EEEEEE;
}

.left-arrow {
    float: left;
    padding-left: 16px;
}

.right-arrow {
    float: right;
    padding-right: 16px;
}

.left-arrow,.right-arrow {
    color: rgba(255, 255, 255, 0.4);
    transition: background-color .3s, color .15s, opacity 0.3s;
}

.left-arrow:hover,.right-arrow:hover {
    color: #EEEEEE
}
